@font-face{
    font-family: ubuntu-mono-bold;
    src: url("./fonts/UbuntuMono-B.ttf");
}

@font-face{
	font-family: digital-7-mono;
	src: url("./fonts/digital-7-mono.ttf");
}

.display{
	font-size: 30em;
}

.button_title{
	font-size: 4em;
}

body{
	text-align: center;
}

body ul{
	text-align: left;
}

#options{
	position: absolute;
	right: 0em;
	top: 1em;
}