<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }} | fll-timer.com</title>
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/site.css">
	</head>
	<body>
		<div class="content body">
			<!-- Content goes here -->
			{{ content }}
		</div>
		<div class="content footer">
			<small>&copy; 2019 John Holbrook</small>
			<br/>	
			<small>
				LEGO&reg; is a trademark of the LEGO Group of 
				companies which does not sponsor, authorize or
				endorse this site.
			</small>
		</div>
	</body>
</html>